{
  "hub_url": "https://ki-k8s-1.f2.htw-berlin.de/jupyter",
  "profile_slug": "gpu-v100-48gb",
  "poll_seconds": 120,

  "remote_root": "/home/jovyan/shared/s0598584",
  "toolkit_dir": "/home/jovyan/shared/s0598584/toolkit",
  "data_root":   "/home/jovyan/shared/s0598584/deepseek",
  "run_name":    "yolo26m_build_640",

  "mcp_config":  "..\\..\\mcp_server\\config.json",
  "vpn_task_name": "HTW-VPN-AutoConnect"
}
